[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "whatifbandit"]
	path = whatifbandit
	url = https://github.com/noch05/whatifbandit
